@import './animation';
@import './colors';

body {
    background-color: $light-gray-color;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input[type='checkbox'] {
    accent-color: $primary-color;
    cursor: pointer;
    transform : scale(1.2);
}

.shadow {
    box-shadow: 0 2px 4px $dark-gray-color;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header {
    @extend .shadow;
    align-items: center;
    background-color: $primary-color;
    color: white;
    display: flex;
    font-weight: bold;
    height: 50px;
    justify-content: space-between;
    padding: 0 25px;
    a {
        align-items: inherit;
        color: inherit;
        cursor: pointer;
        display: flex;
        gap: 5px;
        text-decoration: unset;
    }
}

.content {
    min-height: calc(100vh - 200px);
    padding: 25px;
}

.footer {
    @extend .flex-center;
    background-color: white;
    color: $dark-gray-color;
    flex-direction: column;
    gap: 10px;
    height: 100px;
    padding: 0 24px;
    .icons {
        display: flex;
        gap: 10px;
    }
}

.tbl {
    background-color: inherit;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;   
    th, td {
        padding: 10px 20px;
        text-align: right;
        transition: background-color 500ms;
        &:not(:first-child) {
            //text overflow ellipsis - start
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            //end
        }
        &:first-child {
            width: 20px;
        }
        &:first-child, &:nth-child(2) {
            text-align: left;
        }
    }
    th {
        border-bottom: 3px solid $light-gray-color-2;
        position: sticky;
        top: 50px;
        z-index: 1;
        span {
            align-items: center;
            display: flex;
            justify-content: space-between;
            svg {
                color: $dark-color;
            }
        }
        &.sort-th:hover {
            cursor: pointer;
            background-color: $light-gray-color-2;
        }
    }
    td {
        border-bottom: 1px solid $light-gray-color-2;
        &.no-data {
            text-align: center;
        }
    }
    tr:hover td, th, .sort-td {
        background-color: $light-gray-color;
    }
}

.tbl-title {
    align-items: center;
    background-color: white;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 20px;
    position: sticky;
    top: 0px;
    z-index: 2;
    .tbl-filter {
        align-items: center;
        display: flex;
        gap: 10px;
    }
    .search {
        svg:first-child {
            height: 16px;
            width: 16px;
            position: relative;
        }
        .badge {
            @extend .shadow;
            align-items: center;
            background-color: $primary-color;
            border-radius: 100%;
            color: white;
            font-size: 0.7rem;
            height: 12px;
            justify-content: center;
            left: 7px;
            padding: 1px;
            position: absolute;
            top: -7px;
            width: 12px;
        }
    }
    h3 {
        margin: 0;
    }
}

.card {
    @extend .shadow;
    animation: fadeIn 1s;
    background-color: white;
    border: 1px solid $light-gray-color;
    border-radius: 12px;
}

.dropdown {
    cursor: pointer;
    position: relative;
    span {
        display: flex;
        align-items: center;
        svg {
            color: $dark-color;
            width: 12px;
            height: 12px;
        }
    }
    .dropdown-content { 
        @extend .shadow;
        animation: fadeIn 300ms;
        width: max-content;
        background-color: white;
        border-radius: 4px;
        display: none;
        position: absolute;
        right: 0px;
        padding: 4px;
        &.show {
            display: block;
        }
        li {
            padding: 4px;
            cursor: pointer;
            border-radius: 4px;
            &.active {
                background-color: $light-gray-color;
                font-weight: bold;
            }
            &:hover {
                background-color: $light-gray-color-2;
            }
        }
    }
}

.pagination {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: inherit;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
    padding: 5px;
    &.disabled {
        color: $dark-gray-color;
        cursor: not-allowed;
    }
    &:not(.disabled):hover {
        color: white;
        background-color: $dark-gray-color;
        border-radius: 100%;
    }
}
  
.loader {
    @extend .flex-center;
    min-height: inherit;
    .container {
        height: 15px;
        width: 105px;
        display: flex;
        position: relative;
        .circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $primary-color;
            animation: move 500ms linear 0ms infinite;
            margin-right: 30px;
            &:first-child {
                position: absolute;
                top: 0;
                left: 0;
                animation: grow 500ms linear 0ms infinite;
            }
            &:last-child {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 0;
                animation: grow 500ms linear 0s infinite reverse;
            }
        }
    }
}

.error {
    @extend .flex-center;
    animation: fadeIn 1s;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    text-align: center;
    svg {
        color: $dark-gray-color;
        height: 120px;
        width: 120px;
    }
    h2 {
        margin: 0;
    }
}

.input-text {
    border: 2px solid $dark-gray-color;
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
    &:focus {
        outline: none;
        border: 2px solid $primary-color;
    }
}

.mobile-view {
    display: none;
}

@media screen and (max-width: 576px) {
    .mobile-view {
        display: block;
    }
    .tbl {
        th {
            &.sort-th:hover {
                cursor: unset;
                background-color: $light-gray-color;
            }
        }
        .sort-td {
            background-color: white;
        }
    }
    input[type='checkbox'] {
        transform : scale(1.5);
    }
}

@media screen and (max-width: 420px) {
    .pagination {
        gap: 0;
        justify-content: space-between;
    }
}

@media screen and (max-width: 380px) {
    .pagination {
        flex-direction: column;
    }
}